<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceMark</title>
    <link href="img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body style="background-color: #065778;">
    {% include 'profile_nav.html' %}

    <div class="container-flex justify-between">
        <div class="container  ">
            <div class="row">
                <div class="col-3 bg-dark mt-3 rounded">
                    <div class="card-body rounded" style="color: #446c73;font-family: Handlee, cursive;">
                        <div class=" m-0 p-0"
                            style="background-image:url('http://picsum.photos/600');width:100%;display:flex;height: 100px;">
                        </div>
                        <img src="https://toppng.com/uploads/preview/anonymous-freetoedit-anonymous-hacker-mask-11562984731flvabwesfh.png"
                            class="border border-dark border-2 "
                            style="height: 80px;margin-left: 33%;border-radius: 50%;margin-top: -15%;" alt="Ayush"
                            title='neo'>
                        <h2 class="fs-4 text-center mt-3 text-light">{{user.first_name}} {{user.last_name}}</h2>
                        <p class="fs-5 text-light text-center">Mentor at {{user.email}}</p>

                        <p>
                            <button class="btn btn-primary ms-5" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseWidthExample" aria-expanded="false"
                                aria-controls="collapseWidthExample">
                                Change Profile Picture
                            </button>
                        </p>
                        <div style="min-height: 120px;">
                            <div class="collapse collapse-horizontal" id="collapseWidthExample">
                                <div class="card card-body" style="width: 300px;">
                                    <form enctype="multipart/form-data" method="post" action="{%url 'changeProfile' %}">
                                        {% csrf_token%}
                                        <div class="mb-3">
                                            <input type="file" class="form-control" name="image">
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" name="caption" placeholder="Caption" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <input type="submit" value="Change Profile Picture" class="btn btn-primary">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6  px-4 mx-auto my-4 right">
                    <div class="row">
                        <div class="col-11">
                            <div class="row  bg-light rounded" style="height: 150px;">
                                <div class="col-12 mx-0 bg-light px-3 py-3 rounded">
                                    <div class="row ">
                                        <div class="col-1 ">
                                            <img src="https://toppng.com/uploads/preview/anonymous-freetoedit-anonymous-hacker-mask-11562984731flvabwesfh.png"
                                                height="50px" alt="asd"
                                                class="border border-secondary  border-3 rounded-circle ">
                                        </div>
                                        <div class="col-10 ms-2">
                                            <span><textarea type="text" class="form-control border border-0"
                                                    placeholder="Whats in your Mind?"></textarea></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-8 ps-5">
                                    <a href="" class="btn  py-2 mx-2"
                                        style="background-color: #b0b5b6;font-family: Handlee, cursive;">Change Profile
                                        Picture</a><span><a href="" class="btn text-light py-2 mx-0"
                                            style="background-color: #17a2b8;font-family: Handlee, cursive;">Send
                                            Post</a></span>
                                </div>
                            </div>

                            <div class="row mt-3 px-0">
                                <div class="col-10 mx-0" style="width: 100%;">
                                    {%for acc in  new_post%}
                                    <div class="card mt-5 p-0 " style="width: 100%;background-color: black;color:#fff">
                                        <div class="card-header text-start text-light "
                                            style="width: 100%;background-color: black;">
                                            <!-- <div class="col-2 mx-0 px-0 text-center" > -->
                                            <div class="row">
                                                <p></p>
                                                <div class="col-10">
                                                    <span class="text-light text-small mx-0 px-0"><img
                                                            src="http://127.0.0.1:8000/media/photo/1639916450.jpg"
                                                            height="33px" alt="asd"
                                                            class="border  ms-0 me-1 border-2 rounded-circle"
                                                            style="padding:1px;border-color:#25a3b7">
                                                        <strong
                                                            style="font-family: Handlee, cursive;">{{acc.post_by.username}}</strong></span>
                                                </div>
                                                <div class="col-2"><i class="bi bi-three-dots fs-3 mx-3"></i></div>
                                            </div>
                                        </div>
                                        <!------------------------------------ POST---------------------------------------------- -->
                                        <div class="card-body m-0 p-0">
                                            <img src="{{acc.image.url}}"
                                                height="500px" class="card-img-top border-0" alt="...">
                                        </div>
                                        <div class="card-footer  text-start">
                                            <svg aria-label="Unlike" class="_ab6- me-3 text-light" color="#ed4956"
                                                fill="#ed4956" height="35" role="img" viewBox="0 0 48 48" width="35">
                                                <path
                                                    d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                                                </path>
                                            </svg>
                                            <!-- <svg aria-label="Like" class="_ab6- me-3 text-light" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z"></path></svg> -->
                                            </IconButton>
                                            <IconButton>
                                                <svg class="me-3 text-light" aria-label="Comment" color="#262626"
                                                    fill="#262626" height="35" role="img" viewBox="0 0 24 24"
                                                    width="35">
                                                    <path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z"
                                                        fill="none" stroke="currentColor" stroke-linejoin="round"
                                                        stroke-width="2"></path>
                                                </svg>
                                            </IconButton>
                                            <IconButton>
                                                <svg aria-label="Share Post" class="_ab6- me-5 text-light"
                                                    color="#262626" fill="#262626" height="35" role="img"
                                                    viewBox="0 0 24 24" width="35">
                                                    <line fill="none" stroke="currentColor" stroke-linejoin="round"
                                                        stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                    <polygon fill="none"
                                                        points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334"
                                                        stroke="currentColor" stroke-linejoin="round" stroke-width="2">
                                                    </polygon>
                                                </svg>
                                            </IconButton>
                                            <!-- <svg aria-label="Remove" class="_ab6- ms-5" color="#262626" fill="#262626" height="35" role="img" viewBox="0 0 24 24" width="35"><path d="M20 22a.999.999 0 01-.687-.273L12 14.815l-7.313 6.912A1 1 0 013 21V3a1 1 0 011-1h16a1 1 0 011 1v18a1 1 0 01-1 1z"></path></svg> -->
                                            <svg aria-label="Save" color="#262626" fill="#262626" class="text-light"
                                                height="35" role="img" viewBox="0 0 24 24" width="35"
                                                style="margin-left: 45%;">
                                                <polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21"
                                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2"></polygon>
                                            </svg>
                                        </div>
                                        <p class="card-text fs-5 mt-2"
                                            style="width:78%;margin-left:2%;background-color: black;color:#fff;font-family: Handlee, cursive;">
                                            Like by <strong>neo_ayush_jha</strong> and
                                            <strong>others</strong>
                                        </p>
                                        <p class="card-text fs-5 mt-0 mb-3"
                                            style="width:78%;margin-left:2%;background-color: black;color:#fff ;font-family: Handlee, cursive;">
                                            {{acc.caption}}</p>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-3  mx-0 mt-2 rounded bg-dark">
                    {%for acc in post%}
                    <a href="" style="text-decoration: none;">
                        <div class="row mt-5 px-2">
                            <div class="col-12   mx-0 my-2 px-0 ">
                                <span class="text-light text-small mx-0 px-0">
                                    <img src="https://toppng.com/uploads/preview/anonymous-freetoedit-anonymous-hacker-mask-11562984731flvabwesfh.png"
                                        height="50px" alt="asd"
                                        class="border  border-dark me-1 border-3 rounded-circle " style="padding:1px;">
                                    <strong style="font-family: Handlee, cursive;">{{acc.username}}</strong>
                                    <a href="" class="fw-bold "
                                        style="text-decoration: none;color: #446c73;font-family: Handlee, cursive;text-align: right;margin:left;">Follow</a>
                                </span>
                            </div>
                        </div>
                    </a>
                    {%endfor%}
                </div>
            </div>
        </div>
</body>
</html>