<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FaceMark</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
  </head>

  <body style="background-color: #065778">
    {% include 'profile_nav.html' %}
    <div class="container-flex justify-between">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="card  text-center text-secondary mt-2" style="background-color: #065778;">
              <div class="card-body border p-0 m-1 border-dark self-center " style="text-shadow:2.3px 2.3px #17a2b8;font-size: 40px; font-family: Handlee, cursive;">Facemask
              </div>
          </div> 
            {% include 'side.html' %}</div>
          <div class="col-9 px-5 my-4">
            <div class="container rounded">
              <div class="row">
                <div class="col-4 mt-4 mx-0 pe-0">
                  {%for ac in acc%}
                  <img
                    src="{{ac.image.url}}"
                    height="180px" style="width:200px;"
                    class="rounded-circle border border-light p-1"
                    alt=""
                  />
                  {%endfor%}
                </div>
                <div class="col-8 text-light mx-0 px-0">
                  <div class="row px-0 mt-3">
                    <div class="col-4 px-0">
                      <h3>{{user.username}}</h3>
                    </div>
                    <div class="col-3 mx-3 px-0">
                      <a href="" class="btn btn-light text-dark"
                        >Edit profile</a
                      >
                      <!-- <button class="form-control" style="width:150px">

                                            <h5 class="px-0 mx-0">Edit profile</h5>
                                        </button> -->
                    </div>
                    <div class="col-2 px-0">
                      <i class="bi bi-gear me-4 fs-3"></i>
                    </div>
                  </div>
                  <div class="row px-0 mt-2">
                    <div class="col-4 px-0">
                      <h3>43 <span class="ms-1 fs-5">posts</span></h3>
                    </div>
                    <div class="col-4 px-0">
                      <h3>115 <span class="ms-1 fs-5">followers</span></h3>
                    </div>
                    <div class="col-4 px-0">
                      <h3>170 <span class="ms-1 fs-5">following</span></h3>
                    </div>
                  </div>
                  <div class="row px-0 mt-2">
                    <div class="col-4 px-0">
                      <p class="fs-4">{{user.first_name}} {{user.last_name}}</p>
                    </div>
                  </div>
                  <div class="row px-0">
                    <div class="col px-0">
                      <p>
                        💞Krishna loves your smile, so smile for him💖 <br />
                        💖श्री कृष्ण कहते हैं प्रतीक्षा करना शुद्ध प्रेम की
                        निशानी है।❣️
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-2 text-center">
                  <img
                    src="https://tse2.mm.bing.net/th?id=OIP.phUnG1dKgtQw8SEYZfBZwQHaHl&pid=Api&P=0"
                    height="80px"
                    alt="asd"
                    class="border border-dark p-1 rounded-circle mx-3"
                  />
                  <span class="text-light">#jaan leva</span>
                </div>
                <div class="col-2 text-center">
                  <img
                    src="https://tse2.mm.bing.net/th?id=OIP.phUnG1dKgtQw8SEYZfBZwQHaHl&pid=Api&P=0"
                    height="80px"
                    alt="asd"
                    class="border border-dark p-1 rounded-circle mx-3"
                  />
                  <span class="text-light">#jaan leva</span>
                </div>
                <div class="col-2 text-center">
                  <img
                    src="https://tse2.mm.bing.net/th?id=OIP.phUnG1dKgtQw8SEYZfBZwQHaHl&pid=Api&P=0"
                    height="80px"
                    alt="asd"
                    class="border border-dark p-1 rounded-circle mx-3"
                  />
                  <span class="text-light">#jaan leva</span>
                </div>
                <div class="col-2 text-center">
                  <img
                    src="https://tse2.mm.bing.net/th?id=OIP.phUnG1dKgtQw8SEYZfBZwQHaHl&pid=Api&P=0"
                    height="80px"
                    alt="asd"
                    class="border border-dark p-1 rounded-circle mx-3"
                  />
                  <span class="text-light">#jaan leva</span>
                </div>
                <div class="col-2 text-center">
                  <img
                    src="https://tse2.mm.bing.net/th?id=OIP.phUnG1dKgtQw8SEYZfBZwQHaHl&pid=Api&P=0"
                    height="80px"
                    alt="asd"
                    class="border border-dark p-1 rounded-circle mx-3"
                  />
                  <span class="text-light">#jaan leva</span>
                </div>
                <div class="col-2 text-center">
                  <img
                    src="https://tse2.mm.bing.net/th?id=OIP.phUnG1dKgtQw8SEYZfBZwQHaHl&pid=Api&P=0"
                    height="80px"
                    alt="asd"
                    class="border border-dark p-1 rounded-circle mx-3"
                  />
                  <span class="text-light">#jaan leva</span>
                </div>
              </div>
              <hr class="text-light mb-0" />
              <div class="row">
                <div class="col-12 my-1 mx-auto">
                  <nav class="navbar navbar-dark">
                    <a class="navbar-brand mx-0 text-truncate" href="#"
                      ><span><i class="bi bi-card-list mx-2"></i></span>POST</a
                    >
                    <a class="navbar-brand mx-0 text-truncate" href="#"
                      ><span><i class="bi bi-play-btn mx-2"></i></span>REELS</a
                    >
                    <a class="navbar-brand mx-0 text-truncate" href="#"
                      ><span><i class="bi bi-bookmark mx-2"></i></span>SAVE</a
                    >
                    <a class="navbar-brand mx-0 text-truncate" href="#"
                      ><span><i class="bi bi-file-zip mx-2"></i></span>TAGGES</a
                    >
                  </nav>
                </div>
              </div>
              <hr class="text-light m-0" />
              <div class="row">
                {%for ac in new_post%}
                <div class="col mx-auto">
                  <a href="">
                    <img
                      src="{{ac.image.url}}"
                      height="280px"
                      style="width: 270px !important"
                      class="p-1"
                      alt="" 
                    />
                  </a>
                </div>
                {%endfor%} 
                {% comment %} {%for newPost in new_post%}
                <div class="col mx-auto">
                    <a href="">
                  <img
                    src="{{newPost.image.url}}"
                    height="280px"
                      style="width: 270px !important"
                      class="p-1"
                      alt=""
                  />
                </a>
            </div>
                {%endfor%} {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
