<div class="card  text-center text-secondary mt-2" style="background-color: black;">
    <div class="card-body border p-0 m-1 border-dark self-center " style="text-shadow:2.3px 2.3px #17a2b8;font-size: 40px; font-family: Handlee, cursive;">Facemask
    </div>
</div>
<div class="list-group mt-2 ">
    <a href="{%url 'home'%}" class="list-group-item border border-dark  text-light fs-5" style="background-color: black;"><i
            class="bi bi-house-door me-4 fs-3"></i>Home</a>
    <a href="#" class="list-group-item border border-dark  text-light fs-5" style="background-color: black;"><i class="bi bi-search me-4 fs-3"></i>Search</a>
    <a href="#" class="list-group-item border border-dark  text-light fs-5" style="background-color: black;"><i class="bi bi-arrows-fullscreen me-4 fs-3"></i>Explore</a>
    <a href="#" class="list-group-item border border-dark  text-light fs-5" style="background-color: black;"><i
            class="bi bi-calendar3-range me-4 fs-3"></i>Reels</a>
    <a href="#" class="list-group-item border border-dark  text-light fs-5" style="background-color: black;"><i
            class="bi bi-chat-text me-4 fs-3"></i>Message</a>
    <a href="#" class="list-group-item border border-dark  text-light fs-5" style="background-color: black;"><i
            class="bi bi-heart me-4 fs-3"></i>Notification</a>
    <a href="#" class="list-group-item border border-dark  text-light fs-5" style="background-color: black;"><i
            class="bi bi-plus-square me-4 fs-3"></i>Create</a>
    <a href="" class="list-group-item border border-dark  text-light fs-5 bg-dark" style="background-color: black;"><i
            class="bi bi-person-circle me-4 fs-3"></i>Profile</a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item  border border-dark  text-light fs-4 mt-5 border-none" style="background-color: black;"><i
            class="bi bi-list me-4 "></i>More</a>
</div>